
<div class="card">
    <div class="card-body">
        <h1 class="text-center" style="color: orange;"> Problems Solvers</h1>

        <p class="text-center mb-5" style="color: cornflowerblue;"> Procure e/ou publique formas de resolver seu problema. Aqui nossa comunidade estará compartilhando ideias e possíveis soluções para te ajudar!</p>
    <hr>
        <article class="mt-5 row">
            
            <form action="/problems/filters" method="post">
                <select name="categoryes" class="form-select">
                    {{#each categoryes}}
                    <option value="{{name}}"> {{name}} </option>
                    {{else}}
                    <option value="0"> Nenhuma categoria registrada! </option>
                    {{/each}}
                </select>

                <button type="submit" class="btn btn-info mt-1 mb-4"> Filtrar problemas </button>
            </form>
            
            <h4> Problemas mais recentes: </h4>
                {{#each problems}}
                    <div class="col-md-5 mt-4 border p-5 mx-auto">
                        <form action="/problems/view/{{this._id}}" method="get">
                            <h3 class="text-center"> {{ title }} </h3>
                            <hr>
                            <small> Usuario: {{user}} </small><br/>
                            <small> {{summary}} </small><br/>
                            <small> {{ status }} </small><br/>
                            <small> {{created_at}} </small><br/>
                            <button type="submit" class="btn btn-success mt-2"> Observar problema </button>
                        </form>

                        <div class="dropdown position-absolute end-0 top-0 mt-2 ml-2"> 
                        <button class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            &#8285;
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <form action="/problems/report/post/" method="post">
                                <input type="hidden" name="accuser" value="{{../user.name}}">
                                <input type="hidden" name="accused" value="{{this.user}}">
                                <input type="hidden" name="idProblem" value="{{this._id}}">
                                <input type="hidden" name="created_at" value="{{this.created_at}}">
                            <button class="dropdown-item" href="#"> Denunciar </button>
                            
                            </form>
                            <a class="dropdown-item" href="#"> Dar like </a>
                            <a class="dropdown-item" href="#"> Favoritar </a>
                            {{#if ../user.adminLevel}}
                            <div style="font-size: 1.1em;">
                                <a class="dropdown-item bg-warning mt-3" href="/admin/delete/post/{{_id}}"> Apagar post </a>
                                <a class="dropdown-item" href="/admin/advertence/user/{{user._id}}" style="background-color: rgb(255, 147, 46);"> Dar advertência </a>
                                <a class="dropdown-item bg-danger" href="/admin/block/user/{{user._id}}"> <strong>Bloquear usuário</strong> </a>
                            </div>
                            {{/if}}
                        </div>
                        </div>

                    </div>

                    {{else}}
                        <p> Nenhum problema registrado </p>
                    {{/each}}
        </article>
                    

    </div>
</div>
<form action="/problems/post" method="get">
    <button type="submit" class="btn btn-success mt-2"> Poste seu problema </button>
</form>