<h1 class="text-center"> Area de administrador: </h1>
<div class="card mt-4">
    <div class="card-body">
        <div class="d-inline">
            <form action="/admin/categoryes" method="get" class="d-inline mx-auto">
                <button class="btn btn-success mt-2 mx-5">Ver categorias</button>
            </form>

            <form action="/admin/categoryes/new" class=" mx-auto" method="get">
                <button type="submit" class="btn btn-success mt-2 mx-5"> Criar nova categoria</button>
            </form>

            <form action="/admin/user/unblock" method="get" class="d-inline mx-auto">

                <button type="submit" class="btn btn-danger float-end mt-2"> Bloquear</button>
            </form>
        </div>


        <form action="/problems/filters" method="post" class="mt-5">
                        <select name="categoryes" class="form-select">
                            {{#each categoryes}}
                            <option value="{{name}}"> {{name}} </option>
                            {{else}}
                            <option value="0"> Nenhuma categoria registrada! </option>
                            {{/each}}
                        </select>

                        <button type="submit" class="btn btn-info mt-1 mb-4"> Filtrar problemas </button>
                    </form>

        <div class="mt-5">
                
                {{#each reports}}
                
                    <div class=" container mt-4 p-3 border">
                        <p> Quantidade de reports: {{this.complaints}} </p>
                        <small> Pessoas que reportaram: {{this.accuser}} </small><br/>
                        <small> Acusado: {{this.accused}} </small><br/>
                        <small> Começo dos reports {{this.created_at}} </small><br/>

                        <form action="/admin/user/block" method="post">
                            <input type="hidden" name="idReference" value="{{this.idReference}}">
                            <button type="submit" class="btn btn-danger float-end mt-2"> Bloquear</button>
                        </form>

                        <form action="/problems/view/{{this.idReference}}" method="get">
                            <button type="submit" class="btn btn-success mt-2"> Analisar </button>
                        </form>
                    </div>
                    
                    
                {{else}}
                    <p> Nenhuma denuncia registrada </p>

                {{/each}}
        </div>

    </div>
</div>